.Tracks {
  margin-bottom: 1em;
}

.music-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f7f7f7;
  border-radius: 15px;
  padding: 1em 3em;
  margin: 0 auto;
}

.music-area p {
  margin: 0;
}

.track {
  display: flex;
  flex-direction: row;
  min-width: 450px;
  max-width: 450px;
  padding: 0.5em 0.25em;
}

.track-artwork {
  margin-right: 0.75em;
}

.track-artwork img {
  max-width: 150px;
}
.track-datapoints {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 0.75em;
  min-height: 150px;
  max-height: 150px;
}

.track-datapoints p:first-of-type {
  padding-top: 0.5em;
}

.track-datapoints p:last-of-type {
  padding-bottom: 0.5em;
}

.track-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 150px;
  max-height: 150px;
}

.track-info p:first-of-type {
  padding-top: 0.5em;
}

.track-info p:last-of-type {
  padding-bottom: 0.5em;
}
